.Form {
  border: var(--main-border);
  border-radius: 10px;
  display: flex;
  align-items: center;
  padding: 10px 5px;

  .Form__input {
    color: inherit;
    background-color: transparent;
    width: 100%;
    font-size: 20px;
    padding: 5px;
    outline: none;
    border: none;
    border-right: var(--main-border);

    &::placeholder {
      color: rgba(255, 255, 255, 0.69);
    }
  }

  .Form__btn {
    background-color: transparent;
    font-size: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: inherit;
    cursor: pointer;
    padding-left: 5px;

    &:hover {
      filter: contrast(0.5);
    }
  }
}
