.form {
  background-color: #eee;
  box-shadow: var(--main-shadow);
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 5px;
  width: var(--main-width);
  padding:10px 5px;
  margin: 30px auto;

  .form__input {
    border-radius: 50px;
    background-color: transparent;
    flex-grow: 1;
    font-size: 20px;
    padding: 0 10px;
    outline: none;
    border: none;
  }

  .form__btn {
    background-color: transparent;
    width: 50px;
    font-size: 30px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
cursor: pointer;

    &:hover {
      filter: contrast(0.5);
    }

    @media (max-width: 991px) {
      width: 40px;
    }
  }
}
