.WeatherCard {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .WeatherCard__img {
    width: 150px;
    filter: drop-shadow(2px 4px 6px rgba(0, 0, 0, 0.621));
  }

  .WeatherCard__temp {
    text-align: center;

    h1 {
      display: flex;
      align-items: flex-start;
      font-size: 100px;
      gap: 10px;

      span {
        margin-top: 25px;
        font-size: 30px;
      }
    }

    p {
      margin: 0;
      font-size: 36px;
    }
  }

  .WeatherCard__infos {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    margin-top: 30px;
  }

  .WeatherCard__info {
    display: flex;
    align-items: flex-start;
    gap: 10px;

    svg {
      font-size: 30px;
      margin-top: 5px;
    }
  }
}
