.Home {
  padding: 10px;

  .Home__container {
    background-color: var(--main-bg);
    backdrop-filter: var(--main-blur);
    border: var(--main-border);
    border-radius: 15px;
    margin: 50px auto;
    padding: 15px;
    width: 500px;

    @media (max-width: 992px) {
      width: 100%;
    }
  }
}
