.NavBar {
  background-color: #eee;
  box-shadow: var(--main-shadow);
  text-align: center;
  padding: 10px;
  font-size: 30px;
  font-weight: bold;

  @media (max-width: 991px) {
    font-size: 24px;
  }
}
