* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: black;
}

:root {
  --main-shadow: 0px 0px 8px -2px black;
  --main-width: 500px;

  @media (max-width: 768px) {
    --main-width: 95%;
  }
}

body {
  background-color: white;
}
