* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: white;
}

:root {
  --main-border: 2px solid rgba(255, 255, 255, 0.2);
  --main-bg-color: rgba(255, 255, 255, 0.1);
}

body {
  background-color: #24192e;
}
